body{
    font-family: cursive;
    background-color: lightblue;
}

section{
    width: 100vw;
    min-height: 100vh; 
    overflow: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar .nav-link{
    font-size: 18px;
    margin-left: 30px;
    position: relative;
    color: #222227;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar .nav-link::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 0%;
    height: 2px;
    background-color: #222227;
    transition: all 0.6s ease;
    transform-origin: center;
}

.navbar .nav-item:hover .nav-link::before{
    width: 100%;
}

.navbar .navbar-toggler{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar .toggle-btn{
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 10;
}

.navbar #toggle-menu{
    display: none;
}

.navbar .navbar-toggler .toggle-btn .bar{
    width: 25px;
    height: 3px;
    margin: 7px 0 7px auto;
    transition: all 0.2s ease-in-out;
    background-color: #222227;
}

.navbar #toggle-menu:checked + label .toggle-btn .bar:nth-child(2){
    transform: translateX(50px);
    opacity: 0;
}

.navbar #toggle-menu:checked + label .toggle-btn .bar:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}

.navbar #toggle-menu:checked + label .toggle-btn .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}